* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    transition: all 1s;
}

body {
    background: linear-gradient(to right, #317873, #cbdcdb);
    color: #999;
}

#welcome {
    color: #317873;
    text-shadow: 0 1px 3px rgb(100, 100, 100), -10px 0 8px rgb(48, 48, 48);
    display: flex;
    height: 100%;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

#welcome div:hover {
    text-shadow: 0 0 1px white, 0 0 0 black;
}

#welcome div {
    align-items: center;
    background: #c0e4e2;
    box-shadow: 0 0 100px black;
    cursor: pointer;
    display: flex;
    font-size: 5em;
    font-weight: bold;
    width: 50%;
}

#left {
    justify-content: flex-end;
}

#right {
    justify-content: flex-start !important;
}

.Of {
    justify-content: flex-end;
    width: 0 !important;
    visibility: hidden;
}

#Of {
    width: 0;
}

.On {
    width: 100% !important;
}

