body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    background: linear-gradient(to right, #317873, #cbdcdb);
    height: 100vh;
}

/* Conteneur principal */
.logout-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Carte de déconnexion */
.logout-card {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    padding: 20px;
    text-align: center;
}

.logout-card h1 {
    margin-bottom: 20px;
    color: #28a745; /* Vert */
}

.success-message {
    color: #28a745; /* Vert */
    font-weight: bold;
}