/* Global Styles */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #317873, #cbdcdb) !important;
}

.mb-4 {
  margin-bottom: 0 !important;
}

/* sidebar */


.sidebar .nav-item .nav-link {
  color: #fff !important;
}

.sidebar .nav-item .nav-link:hover {
  color: #fff !important;
  background-color: #275e5e !important; /* Optionnel : couleur de survol */
}

.sidebar .sidebar-heading {
  color: #fff !important;
}


/* Ticket Form Styles */
.ticket-form-container {
  max-width: 80%;
  height: 80vh;
  margin: 3% auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#content-wrapper {
  background: #f8f9fc !important;
}

.ticket-form-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group.text-center {
  text-align: center;
}

.btn {
  padding: 10px 20px;
  border-radius: 4px;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:hover {
  background-color: #5a6268;
  border-color: #545b62;
}

.btn-primary {
  background-color: #317873;
  
}

.btn-primary:hover {
  background-color: #71d7d0;
  
}
