/* Styles pour la page des détails du ticket */
.container {
  max-width: 90%;
  margin: 20px auto;
}

.mb-4 {
  margin-bottom: 0;
}

.container h1 {
  margin-top: 3%;
  margin-bottom: 3%;
}

/* sidebar */
.sidebar {
  background-color: #317873 !important;
}

.sidebar .nav-item .nav-link {
  color: #fff !important;
}

.sidebar .nav-item .nav-link:hover {
  color: #fff !important;
  background-color: #275e5e !important; /* Optionnel : couleur de survol */
}

.sidebar .sidebar-heading {
  color: #fff !important;
}

/* details */
.card {
  position: relative;
  padding: 0 0 0 1%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.card-header {
  width: 100%;
  background-color: #f8f9fc;
  border-bottom: 1px solid #e3e6f0;
  padding: 1rem 1.5rem;
  border-radius: 8px 8px 0 0;
}

.card-header h2 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
  color: #317873;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  border-radius: 8px 0 0 8px;
  background-color: var(--status-color);
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: row;
  padding: 0;
}

label {
  margin-right: 0.5%;
}

.card-text {
  font-size: 16px;
  margin-bottom: 2%;
}

.card-text strong {
  font-weight: bold;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

#edit-button {
  margin-top: 5%;
  margin-bottom: 0;
  
}
