#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  --primary-color: #317873;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
  --bg-color: #f8f9fa;
  --first-btn-color: #123456;
  --second-btn-color: #68d8c2;

}

