{# filepath: /C:/Users/PC/Documents/PMD/PHP/symfony/TickTrust/back_end/templates/technician/technician_dashboard.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Technician Dashboard{% endblock %}

{% block sidebar %}
    <!-- Technician specific sidebar content -->
    <li class="nav-item">
        <a class="nav-link" href="{{ path('technician_dashboard') }}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <!-- Add more technician specific links here -->
{% endblock %}

{% block body %}
    <h1>Technician Dashboard</h1>
    <!-- Technician specific content here -->
{% endblock %}